body {
    margin: 0;
    min-height: 100vh;
}
.header a {
    display: table-cell;
    background: #eee;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border: 5px solid #777;
    text-decoration: none;

}
.header {
    background: #777;
    display: table;
    width: 100%;
    height: 3em;
    margin-bottom: 2vh;

}
.header-box {
    display: table-cell;
    background: #eee;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border: 5px solid #777;
}
/* .outerbox {
    display:flex;
    min-height: calc(98vh - 3em);
    align-items: center;

} */
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.map img {
    width: 100%;

}
.container {
    display: flex;
    flex-flow: column wrap;
    min-height: calc(100vh - (2em + 5px + 1lh + 2vh));
    /* padding: 5vw; */
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    justify-content: center;
}

.inner {
    min-width: 25%;
    background: #eee;
    border: 5px solid black;
    margin: 1vw 0.5vw 0;
    padding: 1em;
}

.yap {
    text-align: justify;
    min-width: 50%;
}

.proof { /* class for the artifact section of an slo */

}

.proof object {
    height: 100%;
}

.footer {
    justify-content: space-between

}

.footer .column {
    text-align: center;
}
.footer a {
    text-decoration: none;

}

.container {
    flex-direction: row;
}

h1 {
    margin: 1vh;

}

.inner {
}
